<div class="BtnGroup">
  <a class="btn BtnGroup-item btn-outline disabled" href="#">Vorige</a>
  <a class="btn BtnGroup-item btn-outline selected" href="#">1</a>
  <a class="btn BtnGroup-item btn-outline" {{action action 2}}>2</a>
  <a class="btn BtnGroup-item btn-outline" href="#">Volgende</a>
</div>

{{pageCount}}

{{pages}}
