<div class="blankslate blankslate-clean-background mt-4">
  <h3>Er is iets mis gegaan.</h3>
  <p>
    Het is niet gelukt om de resultaten op te halen.
    <button class="btn-link text-left" {{route-action "refresh"}}>Probeer het opnieuw?</button>
  </p>
</div>
