<form class="container-lg" {{action 'search' query location on="submit"}}>
  <hbox class="border p-2 m-4">
    <box xs="12" sm="fill" class="p-2">
      <label class="d-block" for="search_query">Zoekopdracht</label>
      <p class="note mt-1">Functie, trefwoorden of bedrijf</p>
      {{input value=query type="text" id="search_query" class="form-control input-block mt-2" required=true placeholder="Software engineer"}}
    </box>

    <box xs="12" sm="fill" class="p-2">
      <label class="d-block" for="search_location">Locatie</label>
      <p class="note mt-1">Plaats, provincie of postcode</p>
      {{input value=location type="text" id="search_location" class="form-control input-block mt-2" required=true placeholder="Enschede"}}
    </box>

    <box fit align-self="end" class="p-2">
      <button type="submit" class="btn btn-purple">Vacatures zoeken</button>
    </box>
  </hbox>
</form>

